.carouselContainer {
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}

.mySwiper .swiper-pagination-bullet {
    background-color: #fff;
    opacity: 0.8;
    width: 12px;
    height: 4px;
    border-radius: 20px;
}

.mySwiper .swiper-pagination-bullet-active {
    background-color: #ffab5c;
    width: 26px;
}


/* Định dạng cho các nút điều hướng */
.mySwiper {
    --swiper-navigation-size: 28px; /* Thay đổi kích thước của nút điều hướng */
}

.mySwiper .swiper-button-next {
    color: #e4e3e4;
    margin-right: 20px;
}

.mySwiper .swiper-button-prev {
    color: #e4e3e4;
    margin-left: 20px;
}